@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --login-color: 106, 129, 255;
}


body {
    background-color: rgb(142, 159, 255);
}


.table-head {
    border: 1px solid white;
    border-radius: 0.43rem;
    text-align: left;
    padding-left: 0.5rem;
}

.table-cell {
    padding-left: 0.5rem;
}

.select-cell {
    padding-left: 0px;
    border: none;
    outline: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjEuNSIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im02IDkgNiA2IDYtNiIgc3Ryb2tlPSIjZmZmZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJzdHJva2UtMDAwMDAwIj48L3BhdGg+PC9zdmc+");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    width: 70%;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.select-cell option {
    background-color: rgb(142, 159, 255);
    font-size: 0.9rem;
}